.section-home {
  display: flex;
  align-items: center;
  flex-basis: calc(100% / 2);
  padding: 8rem;
  height: 100%;
}

.section-home > div.home-left {
  display: flex;
  flex-direction: column;
  gap: var(--padding-small);
}

.section-home > div.home-left,
.section-home > div.home-right {
  width: 100%;
}

.section-home > div.home-left > h2 > span.left-title-first {
  background-color: var(--background-main);
  padding: 0 var(--padding-small);
}

.section-home > div.home-left > h2 {
  font-size: 5rem;
}
/* Styles container right*/
.section-home > div.home-right {
  height: 80%;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}

.section-home > div.home-right > div.right-image {
  width: 60%;
  height: 100%;
}

.section-home > div.home-right > div.right-image > img {
  width: 100%;
  animation: moveTopBottom 3s infinite;
}

/*Styles for comments */
.section-home > div.home-right > div.comment {
  box-shadow: var(--box-shadow);
  padding: var(--padding-small);
  border-radius: var(--padding-small);
  position: absolute;
}
.section-home > div.home-right > div.comment1 {
  top: 20%;
  right: -5%;
}

.section-home > div.home-right > div.comment2 {
  top: 34%;
  right: -15%;
}

.section-home > div.home-right > div.comment3 {
  top: 48%;
  right: -18%;
}
.section-home > div.home-right > div.comment4 {
  top: 62%;
  right: -13%;
}

@keyframes moveTopBottom {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/*Styles for adaptable - responsive */
@media (min-width: 400px) and (max-width: 900px) {
  .section-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section-home > div.home-right {
    display: none;
  }
}

@media (min-width: 900px) and (max-width: 1400px) {
  .section-home {
    display: flex;
    align-items: center;
  }

  .section-home > div.home-right {
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .section-home > div.home-right > div.right-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
