.header {
    padding: var(--padding-medium);
    width: 100%;  
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-small);
}

.header > nav.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.header-nav > div.nav-menu{
    display: flex;
    gap: var(--padding-medium);
}
